/* =========================
   Base About Section
   ========================= */
.about-section {
  position: relative;
  width: 100%;
  height: 640px; 
  overflow: hidden;
}

.about-content {
  width: 100%;
  height: 450px;
    font-family: var(--font-primary);
}


/* =========================
   About Text
   ========================= */
.about-text {
  position: absolute;
    font-family: var(--font-primary);
  top: 50%;
  left: 150px;
  transform: translateY(-50%);
  max-width: 30%;
  color: #fff;
}

.about-text h2 {
    font-family: var(--font-primary);
  font-size: 3rem !important;
  margin-bottom: 15px;
}

.about-text p {
    font-family: var(--font-primary);
  font-size: 22px;
}

/* =========================
   About Image
   ========================= */
.about-image img {
  width: 100%;
  object-fit: cover;
}
/* =========================
   Responsive Styles (Mobile First)
   ========================= */

/* Mobile (<=576px) */
@media (max-width: 800px) {
  .we-title {
    font-size: 16px;
    text-align: center;
    justify-content: center;
  }

  .we-back::before {
    width: 40px;
    height: 40px;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .about-section {
    height: 350px;
  }

  .about-text {
    top: 70%;
    left: -10px;
    max-width: 90%; /* allow more width on small screens */
    margin-top: 35px;
  }

  .about-text h2 {
    font-size: 25px !important; /* smaller text */
  }

  .about-text p {
    font-size: 12px; /* smaller text */
  }

  .about-image img {
    width: 110%; /* slightly bigger image */
    object-fit: cover;
  }
}

/* Tablets (<=992px) */
@media (max-width: 992px) {
  .we-title {
    font-size: 18px;
  }

  .we-back::before {
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .about-text {
    top: 35%;
    left: 40px;
    max-width: 60%; /* slightly larger text area for tablet */
  }

  .about-text h2 {
    font-size: 16px;
  }

  .about-text p {
    font-size: 14px;
  }

  .about-image img {
    width: 105%; /* slightly bigger image */
    object-fit: cover;
  }
}

/* Large screens (>992px) */


