.ceo-section {
    box-shadow: 0px -22px 22px 0px rgba(40.999999999999986, 45, 136, 0.07) inset; transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s ease-in-out;
  width: 100%;
  padding: 70px 20px;
  background: #ececec;
  display: flex;
  justify-content: center;

  font-family: var(--font-secondary);
}

/* CARD */
.ceo-card {
  max-width: 1100px;

  padding: 20px 35px;
  border-radius: 18px;

    text-align: left;
  animation: fadeUp 0.7s ease forwards;
  opacity: 0;
  transform: translateY(20px);
}

/* Title */
.ceo-title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.ceo-title span {
  color: #ff5a2c;
  font-weight: bold;
}

/* Text */
.ceo-text {
  font-size: 17px;
  line-height: 1.8;
  color: #111010;
}

/* Hover Effects */
.ceo-card:hover {
  transform: translateY(-5px);
}

.ceo-title:hover {
  letter-spacing: 1px;
  color: #0e0c0c;
}

.ceo-title span:hover {
  color: #e2481f;
}

/* Fade Animation */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .ceo-card {
    padding: 30px 20px;
  }

  .ceo-title {
    font-size: 30px;
  }

  .ceo-text {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .ceo-title {
    font-size: 26px;
  }
}
